{% extends 'website/master/index.html' %}

{% load static %}
{% load compress %}

{% block title %}{{ page.title }}{% endblock %}

{% block head_css %}
    {% compress css %}
    <link rel="stylesheet" type="text/x-scss" href="{% static 'website/scss/page.scss' %}">
    {% endcompress %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>{{ page.title }}</h1>

            <ol class="breadcrumb">
                {% for item in page.get_ancestors %}
                <li><a href="{% url 'website:page' slug=item.full_slug %}">{{ item.title }}</a></li>
                {% endfor %}
                <li class="active">{{ page.title }}</li>
            </ol>

            {% if page.children.count > 0 %}
            <h6>Child Pages</h6>
            <ul class="list-group">
                {% for child in page.get_children %}
                <li class="list-group-item"><a href="{% url 'website:page' slug=child.full_slug %}">{{ child.title }}</a></li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="mypanel">
                <div class="title">Custom CSS</div>
                <div class="copy">El css de este panel es custom!!!</div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">{{ page.content|safe }}</div>
    </div>

</div>
{% endblock %}