{% extends 'website/master/index.html' %}

{% load static %}
{% load compress %}
{% load fb_versions %}

{% block title %}{{ item.name }}{% endblock %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>{{ item.name }}</h1>
            </div>

            {% if item.image %}
            <div class="col-xs-12">
                <img src="{% version item.image 'large' %}" alt="{{ item.name }}">
            </div>
            {% endif %}
        </div>

    </div>
{% endblock %}