$mycolor: #039600;

.mypanel {
    background-color: $mycolor;
    color: black;
    border-radius: 2em;
    padding: 30px;

    .title {
        font-size: 24px;
        font-weight: bold;
    }

    .copy {
        font-size: 12px;
        color: dark-blue;
    }
}