{% load static %}
{% load compress %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sullair - {% block title %}{% endblock %}</title>
    <!-- Latest compiled and minified CSS -->
    {% compress css %}
    <link rel="stylesheet" type="text/x-scss" href="{% static 'bootstrap-sass/assets/stylesheets/_bootstrap.scss' %}">
    <link rel="stylesheet" type="text/x-scss" href="{% static 'website/scss/sullair.scss' %}">
    <link rel="stylesheet" type="text/x-scss" href="{% static 'website/scss/page.scss' %}">
    {% endcompress %}

    {% block head_css %}

    {% endblock %}


</head>
<body>
    {% include "website/includes/main_menu.html" %}
    {% block content %}

    {% endblock %}


    {% compress js %}
    <script type="text/javascript" src="{% static 'jquery/dist/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap-sass/assets/javascripts/bootstrap.js' %}"></script>
    {% endcompress %}

    {% block footer_js %}

    {% endblock %}
</body>
</html>